<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @question.description %></h1>
    <p>
      <a href="<%= @yes_url %>">Yes</a> <a href="<%= @no_url %>">No</a>
    </p>
    <p>
      <%= @question.user.email %> wants you to answer to this question.
    </p>
    <p>Delivered by AskNow.</p>
  </body>
</html>
